.intro {
  position: relative;
  z-index: 2;
  color: white;
  display: grid;
  grid-template-areas: "header"
                      "description"
                      "image"
                      "button";
  justify-content: center;
  justify-items: center;
  @media (min-width: $tablet-width){
    color: black;
    grid-template-areas: "header"
                      "description"
                      "button"
                      "image";
    justify-items: start;
  }

  @media (min-width: $desktop-width){
    grid-template-areas: "header image"
                      "description image"
                      "button image";
  }
}

.intro::after {

  content: "";
  position: absolute;
  background: linear-gradient(
                  rgba($base-green, 0.85),
                  rgba($base-green, 0.85)
              ),
              url("http://localhost:3000/img/index-background-desktop1.png");

  left:0 ;
  right: 0;
  bottom: 0;
  top: 0;
  height: auto;
  width: 100%;
  z-index: -1;
  @media (min-width: $tablet-width){
    display: none;
  }
  @media (min-width: $desktop-width){
    display: block;
  }
}



.intro_header{
  width: 414px;
  text-wrap: normal;
  grid-area: header;
  text-align: center;
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.intro_description{
  grid-area: description;
  text-align: center;
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.intro_program-link{
  @include button();
  width: 100%;
  height: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-area: button;
  @media (min-width: $tablet-width){
    width: 244px;
  }
}

.into__image{
  grid-area: image;
  @media (min-width: $tablet-width){
    order: 2;
  }
}

