.live-example{
  background: $base-grey;
}
.live-example_wrapper{
  margin: 0 20px;
  display: grid;
  justify-items: center;
  grid-template-areas:
          "description"
          "stats"
          "stats-result"
          "cat"
          "slider";
  @media (min-width: $tablet-width) {
    grid-template-areas:
          "description description"
          "stats stats-result"
          "cat cat"
          "slider slider";
    justify-items: left;
  }
  @media (min-width: $desktop-width) {
    grid-template-areas:
          "description cat"
          "stats cat"
          "stats-result slider"
  }
}

.live-example_description {
  @include arial();
  grid-area: description;
}

.stats__list{
  grid-area: stats;
  display: flex;
}

.stats__number{
  @include regular-font();
  font-size: 30px;
  line-height: 37px;
}

.stats__description{
  @include arial();
  font-size: 14px;
}

.stats__result {
  @include regular-font;
  text-transform: uppercase;
  font-size: 20px;
  grid-area: stats-result;
}

.live-example_cat_wrapper{
  grid-area: cat;
  display: flex;
  flex-wrap: wrap;
}

.live-example__cat--before{
  height: 232px;
  width: auto;
}

.live-example__cat--after{
  height: 232px;
  width: auto;
}

.live-example_slider{

  grid-area: slider;
}

.live-example_slider__button{
  @include regular-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}