.page_header {
  @include medium-font;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page_header_logo_container{
  display: flex;
  justify-content: space-between;
}

.page_header__logo--desktop {
  box-sizing: content-box;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page_header__logo--tablet{
  width: 174px;
  height: auto;
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}


.page_header__logo--mobile {
  box-sizing: content-box;
  @media (min-width: $tablet-width) {
    display: none;
  }
}


