.section-header{
  margin: 0;
  margin-bottom: 40px;
  @include medium-font(36px, 40px);
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    @include medium-font(60px);
  }
}

.section-description{
  margin: 0;
  @include regular-font;
  text-transform: uppercase;
}

