.products_list{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $desktop-width) {
    grid-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.products-list__item{
  background: $base-grey;
}

.products-list__item__order-button {
  @include button();
}

.products-list__item__link {
  @include normalize-link;

}

.products-list__item__title{
  @include regular-font;
  font-size: 20px;
  text-transform: uppercase;
  color: #222222;
}

.characteristics{
  @include arial;
}

.products-list__item__description{
  @include arial;
}

.products-list__item__show-more-button{
  @include button-grey; //доработать
}

