.products-list__item__order-button {
  @include button();
}

.products-list__item__link {
  @include normalize-link;

}

.products-list__item__title{
  @include regular-font;
  font-size: 20px;
  text-transform: uppercase;
  color: #222222;
}

.characteristics{
  @include arial;
  color: #444444;
}

.products-list__item__description{
  @include arial;
  color: #444444;
}

.products-list__item__show-more-button{
  @include button-grey;//доработать
}
