@font-face {
  font-family: "Oswald";
  src: url("source/fonts/oswaldmedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Oswald";
  src: url("source/fonts/oswaldregular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

//mixins
@mixin medium-font(){
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}


@mixin regular-font(){
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin arial(){
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

