@font-face {
  font-family: "Oswald";
  src: url("source/fonts/oswaldmedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("source/fonts/oswaldregular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

//mixins
@mixin medium-font($size: 36px, $line: $size){
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $line;
}


@mixin regular-font($size: 14px, $line: $size){
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $line;
}

@mixin arial($size: 14px, $line: $size){
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $dark-grey;
  font-size: $size;
  line-height: $line;
}

